<h2 #boardTitle>Dynamic component</h2>
<div style="width:1000px; height:1000px; margin-left: auto; margin-right: auto; padding-bottom: 100px;max-width: 100%">
	<ngx-chess-board #board [size]="size" [lightTileColor]="lightTileColor" (moveChange)="moveCallback($event)"
		[dragDisabled]="dragDisabled" [drawDisabled]="drawDisabled" [darkTileColor]="darkTileColor"
		[lightDisabled]="lightDisabled" [darkDisabled]="darkDisabled" [freeMode]="freeMode"></ngx-chess-board>
	<!--<ngx-chess-board></ngx-chess-board> You can also use it like this  -->
	<hr>
</div>